* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* min-width: 1200px; */
    margin: auto;
}

/********* header *********/
.nav1 {
    margin-left: 5%;
}

.nav1 ul li a {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: red;
}

.navbar {
    z-index: 1;
}

.navbar-brand img {
    width: 9rem;
}

/********* Banner *********/
.banner {
    position: relative;
    width: 100%;
    background-color: #fedac2;
    margin-bottom: 20px;
}

/* .search-bar {
    position: absolute;
    bottom: 5rem;
    left: 9rem;
} */
/********* Locate bar ********/
.bar{
    width: 100%;
    background-color: #fedac2;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.091);
}

.bar .row {
    height: 60px;
    background-color: #fedac2;
    margin-top: 20px;
}

.bar div a {
    text-decoration: none;
    color: black;
    /* text-align: center;
    padding: 20%; */
}

/********* Commen css *********/
.recomended, .grammer, .vocabulary, .culture, .footer {
    margin-top: 10px;
}

small {
    float: right;
}

/********* Recomended *********/
.caja-recomended {
    height: 20rem;
    background-color: aqua;
    /* border: 1px solid black; */
    border-radius: 10px;
}

/********* Grammer *********/

.caja-top {
    height: 100px;
    background-color: aqua;
    /* border: 1px solid black; */
}

.caja-article div {
    height: 300px;
    background-color: aqua;
    /* border: 1px solid black; */
}
