* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    margin: auto;
}

/********* header *********/
.nav1 {
    margin-left: 5%;
}

.nav1 ul li a {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: red;
}

.navbar {
    z-index: 1;
}

.navbar-brand img {
    width: 9rem;
}

/********* Banner *********/
.banner {
    position: relative;
    width: 100%;
    background-color: #fedac2;
    /* margin-bottom: 20px; */
}

/********* Locate bar ********/
.bar{
    width: 100%;
    background-color: #fedac2;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.091);
}

.bar .row {
    height: 60px;
    background-color: #fedac2;
    /* margin-top: 20px; */
}

@media (min-width: 768px) {
    .bar li{
        list-style: none;
    }
    .bar-border {
        border-right: 1px solid gray;
    }
}

.bar li a {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.bar li a:hover {
    color: red;
}

.fixed {
    position: fixed;
    top: 0px;
    z-index: 1;
}

/********* Commen css *********/
.recomended, .grammer, .vocabulary, .culture, .footer {
    margin-top: 10px;
}

small {
    float: right;
}

h4 {
    font-family: 'ZCOOL KuaiLe', sans-serif;
}
/********* Recomended *********/
.caja-recomended {
    background-color: aqua;
    border-radius: 10px;
}

/********* Grammer *********/

.caja-top {
    background-color: #ffc197;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.091);
    /* border: 1px solid black; */
}

.caja-article div {
    height: 300px;
    background-color: aqua;
}

/********* Footer *********/
footer {
    background-color: #fedac2;
}

footer h6 {
    margin: auto;
    text-align: center;
}

.copyright {
    border-top: 1px solid gray ;
    padding: 10px 0px;
}

footer ul li a {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    color: black;
}

footer ul li a:hover {
    color: red;
    text-decoration: none;
}