* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* min-width: 1200px; */
    margin: auto;
}

/********* header *********/
.header {
    height: 42px;
    margin: 30px auto;
}

.nav1 ul li a {
    font-size: 20px;
}

.navbar {
    z-index: 1;
}

/********* Locate bar ********/
.bar .row {
    height: 60px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.091);
}

.bar div a {
    text-decoration: none;
    color: black;
    /* text-align: center;
    padding: 20%; */
}

/********* Commen css *********/
.recomended, .grammer, .vocabulary, .culture, .footer {
    margin-top: 10px;
}

small {
    float: right;
}

/********* Recomended *********/
.caja-recomended {
    height: 20rem;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 1rem;
}

/********* Grammer *********/
.caja-big {
    /* height: 400px; */
    background-color: aqua;
    border: 1px solid black;
}

.caja-small{
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.caja-article {
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
}
